	b-card-text{
		color: #fff;
		}
		
	b-card-body{
		background: #111 !important;
	}
.faq-wrapper {
    .panel.panel-default {
        border: 1px solid #ffffff;
        margin-bottom: 20px;
    }
    
    .card, .card-header{
        border-radius: 0;
        
    }

    .card{
        border-bottom: none;
        margin-bottom: 20px;
        border: none;
        box-shadow: 0 15px 50px rgba(89,69,230,0.12);
        &:last-child{
            margin-bottom: 0; 
        }
    }

    .card-header{
        padding: 0;
        border-bottom: 0;
        background-color: #222;
		color: #fff;

        .faq-title {
            border: none;
            width: 100%;
            text-align: left;
            color: #ffffff;
            padding: 20px 30px;
            position: relative;
            overflow-wrap: break-word;
            white-space: normal;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 500;
            border-radius: 5px;
            background: #222;

            @media #{$extra-small-mobile}{
                padding-left: 15px;
                padding-right: 20px;
            }
            &:active {
                background-color: #222;
                color: #fff;
                transform: translateY(0);
            }
            &:hover, 
            &:focus{
                text-decoration: none;
                color: $theme-color--default;
                transform: translateY(0);
            }

            &[aria-expanded="true"] {
                color: #fff;
                background-color: #44A3F2;
                background-image: #44A3F2;
                opacity: 1;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0; 
               
            }

            
        }
    }
    .btn {
        &:active {
            transform: translateY(0);
        }
    }
    .card-body{
        padding: 23px 30px 29px;
    }
}

[aria-expanded="false"] {
    background-color: #fff;
}
.accordion-faq,
.toggle-faq  {
    .card-header {
        [aria-expanded="false"],
        [aria-expanded="true"] {
            &:before {
                color: #fff;
                top: 50%;
                right: 20px;
                content: "\f055";
                position: absolute;
                font-family: $font-awesome-pro;
                transform: translateY(-50%);
            }
        }
        [aria-expanded="true"] {
            &:before {
                content: "\f056";
                color: #fff;
            }
        }
    }
}

.soft-accordion-two {
    @media #{$tablet-device, $large-mobile}{
        margin-top: 70px;
    }
}